
<section class="w-1/2 bg-gray-200 rounded-lg shadow-lg mx-auto p-4">
    <h1 class="text-center text-green-600 text-3xl font-bold">Reset Password :</h1>
   @if(step == 1){
     <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPass()" >
 
       <div class="mb-6">
      
    <label for="uEmail" class="block mb-2 text-lg font-light text-green-600">Email :</label>
    <input formControlName="email" type="email" id="uEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
     </div>
     


<div class="flex justify-end">
<button type="submit" 
 class="bg-green-600  text-white py-2 px-4 my-2 rounded-lg cursor-pointer hover:bg-green-500 transition disabled:bg-green-200 disabled:cursor-default">
  Submit
  
</button>
   </div> 
 </form>
   }

  @if(step == 2){
      <form [formGroup]="verifyCodeForm"  (ngSubmit)="verifyCode()">
 
       <div class="mb-6">
      
    <label for="uCode" class="block mb-2 text-lg font-light text-green-600">Reset Code :</label>
    <input formControlName="resetCode" type="text" id="uCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
     </div>
     


<div class="flex justify-end">
<button type="submit" 
 class="bg-green-600  text-white py-2 px-4 my-2 rounded-lg cursor-pointer hover:bg-green-500 transition disabled:bg-green-200 disabled:cursor-default">
  Submit
  
</button>
   </div> 
 </form>
  }


  @if(step == 3){
      <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
 
       <div class="mb-6">
      
    <label for="uConfirmEmail" class="block mb-2 text-lg font-light text-green-600">Email :</label>
    <input readonly formControlName="email" type="email" id="uConfirmEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
     </div>

       <div class="mb-6">
      
    <label for="uConfirmPass" class="block mb-2 text-lg font-light text-green-600">New Password :</label>
    <input formControlName="newPassword"  type="password" id="uConfirmPass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5">
     </div>
     


<div class="flex justify-end">
<button type="submit" 
 class="bg-green-600  text-white py-2 px-4 my-2 rounded-lg cursor-pointer hover:bg-green-500 transition disabled:bg-green-200 disabled:cursor-default">
  Submit
  
</button>
   </div> 
 </form>
  }

</section>

