<footer class="bg-gray-200 border-t border-gray-200">
  <div class="max-w-screen-xl mx-auto px-1 py-10">
    <!-- Section: Get App -->
    <div class="ms-auto mb-8">
      <h3 class="text-2xl font-semibold text-gray-800 mb-2">Get the FreshCart app</h3>
      <p class="text-gray-500 mb-4">
        We will send you a link, open it on your phone to download the app.
      </p>

      <form class="flex flex-col sm:flex-row   gap-3">
        <input
          type="email"
          placeholder="Email .."
          class="w-full sm:w-250 rounded-lg border border-gray-300 p-3 focus:outline-none focus:ring-2 focus:ring-green-500"
        />
        <button
          type="submit"
          class="bg-green-600 hover:bg-green-600 text-white font-medium px-12 py-3 rounded-lg transition"
        >
          Share App Link
        </button>
      </form>

    </div>

    <!-- Section: Payment + Apps -->
    <div class="flex flex-col sm:flex-row justify-between items-center border-t border-b pb-6 pt-6 gap-4">
      <div class="flex flex-wrap items-center gap-3 text-sm text-gray-500">
        <span class="font-medium text-gray-700">Payment Partners</span>
        <img src="/images/amazon-pay.png" alt="Amazon Pay" class="h-5">
        <img src="/images/American-Express-Color.png" alt="Amex" class="h-5">
        <img src="/images/mastercard.webp" alt="MasterCard" class="h-5">
        <img src="/images/paypal.png" alt="PayPal" class="h-5">
      </div>

      <div class="flex items-center gap-3">
        <span class="text-sm text-gray-700 font-medium">Get deliveries with FreshCart</span>
        <img src="/images/get-apple-store.png" alt="App Store" class="h-8">
        <img src="/images/get-google-play.png" alt="Google Play" class="h-8">
      </div>
    </div>
  </div>

</footer>

