<section >
    <div >
        <h3>Populer Brands:-</h3>

        <!-- <input  type="text" placeholder="Search..." [(ngModel)]="searchItem" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-1/2 mx-auto p-2.5 my-4"> -->

      <div class="parent grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">

            @for (brand of myBrands  ; track brand._id) {
                <div class=" card border border-green-400/50 rounded-md overflow-hidden shadow relative p-1">
                   <div  [routerLink]="['/detailsbrand', brand._id]"  >
                     <div class="card-img" >
                        <img [src]="brand.image" class="w-full h-[250px] object-contain" alt="">
                    </div>
                    <div class="card-body px-2 py-4">
                        <h4 class="text-green-500 cursor-pointer ">{{brand.name}}</h4>
                        <!-- <h3 class="font-medium">{{brand.slug}}</h3> -->
                        <div class="flex justify-between items-center">
                            
                            <div class="flex items-center">
                               
                              
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            }
             
        </div>
    </div>
</section>
